In [1]:
data = pd.read_csv('mercedesbenz.csv',usecols=['X1','X2','X3','X4','X5','X6'])

In [2]:
data.head()

  X1  X2 X3 X4 X5 X6
0  v  at  a  d  u  j
1  t  av  e  d  y  l
2  w   n  c  d  x  j
3  t   n  f  d  x  l
4  v   n  f  d  h  d

In [3]:
for d in data.columns:
    print(d,':',len(data[d].unique()),'lables')

X1 : 27 lables
X2 : 44 lables
X3 : 7 lables
X4 : 4 lables
X5 : 29 lables
X6 : 12 lables

In [4]:
pd.get_dummies(data,drop_first=False).shape

(4209, 123)

In [5]:
data.X2.value_counts().sort_values(ascending=False).head(10)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
Name: X2, dtype: int64

In [6]:
top10 = [x for x in data.X2.value_counts().sort_values(ascending=False).head(10).index]

In [7]:
top10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [8]:
for lable in top10:
    data[lable] = np.where(data['X2']==lable,1,0)

In [9]:
data[['X2']+top10].head()

   X2  as  ae  ai  m  ak  r  n  s  f  e
0  at   0   0   0  0   0  0  0  0  0  0
1  av   0   0   0  0   0  0  0  0  0  0
2   n   0   0   0  0   0  0  1  0  0  0
3   n   0   0   0  0   0  0  1  0  0  0
4   n   0   0   0  0   0  0  1  0  0  0

In [10]:
def one_hot_top_x(df,variable,top_x_lable):
    for lable in top_x_lable:
        df[variable+'_'+lable] = np.where(data[variable]==lable,1,0)

In [11]:
one_hot_top_x(data,'X2',top10)
data.head()

,X1,X2,X3,X4,X5,X6,as,ae,ai,m,...,X2_as,X2_ae,X2_ai,X2_m,X2_ak,X2_r,X2_n,X2_s,X2_f,X2_e
0,v,at,a,d,u,j,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,t,n,f,d,x,l,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,v,n,f,d,h,d,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [12]:
df= pd.read_csv('mercedesbenz.csv',usecols=['X1','X2'])

In [13]:
df_frequency_map= df.X2.value_counts().to_dict()

In [14]:
df.X2

0       at
1       av
2        n
3        n
4        n
        ..
4204    as
4205     t
4206     r
4207     e
4208    ae
Name: X2, Length: 4209, dtype: object

In [15]:
df.X2= df.X2.map(df_frequency_map)

In [16]:
df_frequency_map

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'i': 25,
 'k': 25,
 'b': 21,
 'ao': 20,
 'z': 19,
 'ag': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'ap': 11,
 'y': 11,
 'x': 10,
 'aw': 8,
 'h': 6,
 'at': 6,
 'an': 5,
 'q': 5,
 'al': 5,
 'ah': 4,
 'p': 4,
 'av': 4,
 'au': 3,
 'l': 1,
 'j': 1,
 'o': 1,
 'af': 1,
 'c': 1,
 'aa': 1,
 'ar': 1,
 'am': 1}

In [17]:
df.X2

0          6
1          4
2        137
3        137
4        137
        ...
4204    1659
4205      29
4206     153
4207      81
4208     496
Name: X2, Length: 4209, dtype: int64